.calc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  border: solid grey;
  width: 400px;
  height: 600px;
}
.wholeCalc{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.display {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-size: 34px;
  width: 350px;
  height: 130px;
  background-color: whitesmoke;
}

.display-main{
  display: flex;
  justify-content: center;
  align-items:flex-end;
  
}

.display-top-corner{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 14px;
  width: 100px;
  height: 30px;
}

.buttons{
  background-color: rgba(255, 255, 255, 0.856);
  font-size: 28px;
  height: 100px;
  width: 85px;
  margin-top: 5px;
 }

.buttons:hover {background-color: rgba(255, 255, 255, 0.781)}

.buttons:active {
  background-color: rgba(255, 255, 255, 0.781);
  box-shadow: 0 5px rgba(102, 102, 102, 0.781);
  transform: translateY(1px);
}

 .top-row{
   padding-top: 10px;
 }

 #plus{
   background-color: orange;
 }

 #subtract{
  background-color: orange;
}

#divide{
  background-color: orange;
}

#multiply{
  background-color: orange;
}

#clear{
  background-color: rgb(174, 250, 174);
}